*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.navbar{
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar-img{
  width: 100px;
}

.hero-div{
  align-self: center;
}

.hero-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero-img{
  max-width: 350px;
  align-self: center;
}

.hero-title{
  margin: 15px 0px;
}


.hero-2-section{
  padding: 20px;
}

.katie-img{
  height: 250px;
}

.hero-2-section p{
  color: gray;
  margin: 5px;
  font-size: 13px;
}
.hero-2-section p span{
  color: #000;
  font-weight: 700;
}

.card--stats {
  color: gray;
  margin: 5px;
}
.rating{
  color: #000;
}

.card-1{
  position: relative;
  width: 187px;
  flex: 0 0 auto; 
  display: flex;    
  flex-direction: column; 
}



.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
  padding: 10px;
}


.card--price {
  margin-top: auto;
}

.card-1 p{
  padding-left: 5px;
  font-size: 15px;
}


.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
}